html {
  height: 100%;
  background-attachment: fixed;
  scroll-behavior: smooth;

  background-image: linear-gradient(to left, #a38b41, #909e65, #8aac8c, #98b5ab, #b6bbbb);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.weather {
  width: 400px;
  height: 600px;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: block;
  background: rgba(255, 255, 255, 0.72);
  border-radius: 21px;
}

.location {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  background-image: url(img/locationIcon.png);
}

.search {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(img/search.png);
}

#ville {
  width: 50%;
  height: auto;
  margin-left: 40px;
  margin-top: 1%;
  background-repeat: no-repeat;
  background-size: contain;
  background: rgba(255, 255, 255, 0);
  border: none;
  display: inline-block;
  font-size: 54px;
  font-family: 'Dancing Script', cursive;
  outline: none;
}

body {
  height: 370px;
}

header {
  text-align: center;
  width: 100%;
  height: 170px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
  transition: height 1.5s;
  /* gotta change this depending on height */
}

header:hover {
  height: 400px;
  /* gotta change this depending on elements in the header */
}

.overlay {
  width: 100%;
  height: 100%;
  padding: 50px;

  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(to left, #897431, #7a8753, #779679, #86a098, #a4a8a8);


}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  margin-bottom: 30px;
}


h3,
p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
}

/* --------------- BUTTON MODS --------------- */
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* A VOIR */
  font-size: 12px;
  letter-spacing: 0;
  line-height: 1em;
  margin: .1em;
  margin-top: .3em;
  opacity: 1;
  outline: 0;
  padding: 1em 1.7em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  position: relative;
}

.container {

  display: flex;
  justify-content: center;
}

.logo-weather {
  width: 233;
  height: 206;
}

.container2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tempNumber {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 38px;
}

.container3 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#weatherName {
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.big-div {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.left-side {
  display: flex;
  margin-left: 5%;
}

.logo {
  margin-right: 13px;
}

.right-side {
  display: flex;
  margin-right: 5%;
}

.containerSearchBar {
  display: flex;
  justify-content: center;
  height: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.searchBar {
  border-radius: 30px;
  border: none;
  opacity: 0.5;
  margin-right: 30px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.containerDrinks {
  height: 480px;
  width: 630px;
  background-color: rgba(255, 255, 255, 0.53);
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  top:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#containerDrinks1 {
  width: 480px;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.53);
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.containerRow1,
.containerRow2 {
  display: flex;
  justify-content: space-around;
  width: auto;
  height: 40%;
}

.round {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-top: 40px;
}

.roundR {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-top: 40px;
  text-align: center;
}

.textRound {
  text-align: center;
  margin-top: 8px;
  font-size: 1vw;
}

.textRoundR {
  text-align: center;
  margin-top: 8px;
  font-size: 1.5vw;
}

.arrows {
  margin-top: 4%;
  text-align: center;
}


/*
--------------- COMMENTED DRAFTS ---------------
button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
  cursor: pointer;
}


Background- image un peu plus pale
html{
height: 100%;
background-image: linear-gradient(to right bottom, #ffffff, #f9f1fb, #fbe1ef, #ffd1da, #ffc2be, #fec2ab, #f6c69a, #e5cb8e, #d0db9c, #bbe8b6, #aaf3d5, #a2fbf5);
}
*/